@import url("https://stockfont.org/?45cb1c00156373bb993624b231b6ff635b8163039ec023db495098e6c5195e94");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #dedede;
	font-family: "Oxygen-Regular";
	display: grid;
	grid-template-columns: 10% 70% 20%;
	grid-template-rows: auto;
	grid-template-areas:
		"header header header"
		"img img aside"
		". main aside"
		"footer footer footer";
}

h1 {
	font-family: "Audiowide", cursive;
	margin: 0.4em;
}

aside h1 a {
	color: white;
}

header h1:before {
	content: "\1F5B3";
	font-family: "hack";
	padding-right: 0.4em;
}

header h1 {
	color: #92b2bf;
	text-shadow: 2px 2px 2px darkgreen;
}

body>section {
	grid-area: img;
	height: 20vh;
	background-position: center center;
	background-image: url(/images/randombanner.php);
	max-height: 300px;
	background-position: center center;
}

header a {
	color: white;
	text-decoration: none;
}

header address {
	float: right;
	color: white;
	font-style: normal;
	padding: 1em;
}

main {
	min-height: 20vh;
	grid-area: main;
	padding: 5vw;
	background-color: #e8e8e8;
}

header {
	background-color: #1c2524;
	grid-area: header;
}

main h1,
main a {
	color: #92b2bf;
}

aside {
	background-color: #2a3f52;
	min-height: 20px;
	grid-area: aside;
	padding: 1vw;
	color: white;
}

aside ul {
	list-style-type: none;
	margin-bottom: 1em;
}

aside li {
	padding-left: 20px;
}

aside>ul>li {
	font-size: 2em;
}

aside>ul>li>ul {
	font-size: 0.5em;
}

aside a {
	color: #333;
	text-decoration: none;
}

footer {
	color: white;
	padding: 1em;
	background-color: black;
	font-size: 0.7em;
	grid-area: footer;
}

header {
	display: grid;
	grid-template-columns: 10% 80% 10%;
}

header ul {
	align-self: center;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	color: white;
	list-style-type: none;
}

header>ul>li {
	font-size: 2em;
	cursor: pointer;
	text-align: center;
}

header ul li ul {
	margin-left: 10vw;
	text-align: left;
	display: none;
	position: absolute;
	background-color: #333;
	padding: 20px;
}

header ul li ul li {
	padding: 1vw;
}

header ul li:hover ul {
	display: block;
}

h1 {
	font-weight: bold;
	margin-bottom: 1em;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

form textarea {
	width: 100%;
	font-family: "Oxygen-Regular";
	padding: 0.75rem;
}

form button[type="submit"] {
	display: block;
	padding: 2%;
	width: 46%;
}

.btn-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 1em;
	margin-bottom: 1em;
}

.products,
.reviews {
	list-style-type: none;
}

.products li,
.reviews li {
	padding: 2em;
}

.products li:nth-child(odd),
.reviews li:nth-child(odd) {
	background-color: #fff;
}

.products li:nth-child(even),
.products li:nth-child(even) {
	background-color: #ddd;
}

.price {
	text-align: right;
	color: darkgreen;
	font-family: "Audiowide";
	font-weight: bold;
	font-size: 2em;
}

.reviews .details {
	text-align: right;
}

h4 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.product_image {
	aspect-ratio: 1/1;
	object-fit: cover;

	&.full-width {
		width: 100%;
	}

	&.preview {
		width: 100%;
		max-width: 180px;
	}
}

.no-items {
	color: #1f1f1f;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 200px;
	text-align: center;
}

.error {
	color: red;
	font-size: 0.8rem;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	padding: 0.5rem 0.75rem;
	margin-block: 1rem;
}

.pagination {
	width: 100%;
	display: flex;
	gap: 0.8rem;
	justify-content: center;
	align-items: center;

	& a {
		text-decoration: none;
	}

	& input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	& .previous,
	& .next {
		-webkit-font-smoothing: antialiased;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33px;
		aspect-ratio: 1;
		font-size: 1.25rem;
		color: darkgreen;

		&:hover {
			color: white;
			background-color: darkgreen;
		}
	}

	& .page-input {
		width: 40px;
		text-align: center;
		padding-block: 0.5rem;
		background-color: white;
		border: 1px solid darkgreen;

		&:focus {
			outline: 2px solid green;
			outline-offset: 2px;
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}
